#landscapeMessage {
  display: none;
  position: absolute;
  padding: 10px 5px;
  background-color: #d7e4488e;
  margin: auto;
  text-align: center;
  animation: slideDown 0.7s ease-in;
}

@keyframes slideDown {
  from {
    transform: translateY(-35px);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (orientation: portrait) {
  #landscapeMessage {
    display: block;
  }
}
