body {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   font-family: "Open Sans", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 0.8rem;
}

div {
  margin: 10px;
}

h1 {
  color: #158f04;
  margin: 20px 0 0;
}
h3 {
  color: #158f04;
  color: #a4af31;
  font-weight: 600;
  margin: 10px;
}

.small {
  font-size: smaller;
}

.redtext {
  color: #d43d51;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
}

button {
  display: inline;
  background-color: #ccc;
  font-weight: 400;
  font-size: small;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;

  &:disabled {
    color: darkgray;
    &:hover {
      background-color: #ccc;
      cursor: unset;
    }
  }

  &:hover {
    background-color: darkgray;
  }
  &.selectedRegion,
  &.selectedDatasetName {
    background-color: #a4af31;
  }
}

#canvasContainer {
  position: relative;
  width: 90%;
}

.datasetTypeButtons {
  display: none;
}

.countrySelect {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  font-size: small;
  align-self: center;
}

table {
  border-collapse: collapse;
  text-align: left;
  th,
  td {
    padding: 5px;
  }
  th {
    background-color: #148f04af;
  }
  tr:nth-child(2n + 3) {
    background-color: #a4af318a;
  }
}
