body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  color: dodgerblue;
  font-size: 0.8rem;
}

h3 {
  font-weight: 400;
}

button {
  background-color: #ccc;
  font-weight: 400;

  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: darkgray;
  }
}
