#loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.623);
  z-index: 30;
  display: none;
  flex-direction: column;
  text-align: center; }
  #loader .dots {
    display: flex;
    justify-content: center; }
    #loader .dots .dot {
      width: 10px;
      height: 30px;
      margin: 20px 3px 0; }
      #loader .dots .dot1 {
        background-color: #f18956; }
      #loader .dots .dot2 {
        background-color: #ffce7a; }
      #loader .dots .dot3 {
        background-color: #a4af31; }
    #loader .dots .stretch {
      animation: 1s ease-in-out infinite alternate stretch; }

@keyframes stretch {
  from {
    transform: scaleY(100%); }
  to {
    transform: scaleY(50%); } }
    #loader .dots .delay1 {
      animation-delay: 0.5s; }
    #loader .dots .delay2 {
      animation-delay: 1s; }

#landscapeMessage {
  display: none;
  position: absolute;
  padding: 10px 5px;
  background-color: #d7e4488e;
  margin: auto;
  text-align: center;
  animation: slideDown 0.7s ease-in; }

@keyframes slideDown {
  from {
    transform: translateY(-35px); }
  to {
    transform: translateY(0); } }

@media only screen and (orientation: portrait) {
  #landscapeMessage {
    display: block; } }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 1rem; }

h1 {
  color: dodgerblue;
  margin: 20px 0 0; }

h3 {
  color: #158f04;
  font-weight: 500;
  margin: 10px; }

.small {
  font-size: smaller; }

.redtext {
  color: #d43d51; }

a,
a:visited {
  text-decoration: none;
  color: #333; }

.regionButtons,
.datasetTypeButtons {
  margin: 10px; }

button {
  display: inline;
  background-color: #ccc;
  font-weight: 400;
  font-size: small;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer; }
  button:disabled {
    color: darkgray; }
    button:disabled:hover {
      background-color: #ccc;
      cursor: unset; }
  button:hover {
    background-color: darkgray; }
  button.selectedRegion, button.selectedDatasetName {
    background-color: #92b4f3; }

#canvasContainer {
  position: relative;
  width: 90%; }

.datasetTypeButtons {
  display: none; }

.countrySelect {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

select {
  font-size: small;
  align-self: center;
  padding: 3px 7px;
  border-radius: 3px;
  margin-bottom: 15px; }

table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 25px; }
  table th,
  table td {
    font-weight: normal;
    padding: 7px; }
  table th {
    font-weight: 500;
    background-color: #92b4f3; }
  table tr:nth-child(2n + 3) {
    background-color: #a4af3160; }
