body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  font-size: 0.8rem; }

div {
  margin: 10px; }

h1 {
  color: dodgerblue;
  margin: 20px 0 0; }

h3 {
  color: #158f04;
  font-weight: 500;
  margin: 10px; }

.small {
  font-size: smaller; }

.redtext {
  color: #d43d51; }

a,
a:visited {
  text-decoration: none;
  color: #333; }

button {
  display: inline;
  background-color: #ccc;
  font-weight: 400;
  font-size: small;
  border-radius: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer; }
  button:disabled {
    color: darkgray; }
    button:disabled:hover {
      background-color: #ccc;
      cursor: unset; }
  button:hover {
    background-color: darkgray; }
  button.selectedRegion, button.selectedDatasetName {
    background-color: #92b4f3; }

#canvasContainer {
  position: relative;
  width: 90%; }

.datasetTypeButtons {
  display: none; }

.countrySelect {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

select {
  font-size: small;
  align-self: center; }

table {
  border-collapse: collapse;
  text-align: left; }
  table th,
  table td {
    padding: 5px; }
  table th {
    background-color: #92b4f3; }
  table tr:nth-child(2n + 3) {
    background-color: #a4af3160; }
